.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.a{
  border:#282c34 solid 1px ;
  width: 700px;
margin-left: 450px;


}
.b{
  width: 700px;
 margin-left: 500px;
  border:#282c34 solid 1px ;
}
Button{
  border-radius: 50%;
}
.gestion{

}
.a39897OI{

}
.vertical{
  border-left :lawngreen 1px solid;
height :1000px;
display :inline-block;
}
.hr{
 
  border-top: rgb(195, 200, 201) 1px solid;
   width : 1350px;

}
h3{
margin-left: 100px;
}
h1 {
  margin-left: 100px;
  }
  p{
    margin-left: 500px;
  }
.Row{
  border-left :lawngreen 1px solid;
}
Button{
  width: 100%;
  height: 85% ;
}
.aaa{
  width: 160px;
 height: 35px;
  color: white;
  background-color:#17a2b8;
  border: none;
  border-radius: 5px;
}
.bbb{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 50%;
}
.section{
  width: 354px;
  min-width: 50%;
  max-width: 100%;
  size: initial;
}
.section1{
  width: 800px;
}
.section2{
  position: center;
  width: 1350px;
}
.p{
  margin-left: 450px;
}

